# <font color = #32CD32> Part 1: Import Libraries and Dataset

### <h2> <font color = #90EE90> 1.1. Import Libraries </font> </h2>

In [35]:
import warnings
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
# Set the style of seaborn
sns.set_palette("muted")
from scipy import stats
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline

warnings.filterwarnings("ignore")

### <h2> <font color = #90EE90> 1.2. Read data from Week 3 - notebook "G2M(EDA & Hypothesis Testing).ipynb" </font> </h2>

In [30]:
df = pd.read_csv('df.csv')
df.head()

,Transaction ID,Date of Travel,Company,City,KM Travelled,Price Charged,Cost of Trip,Customer ID,Payment_Mode,Gender,Age,Income (USD/Month),Population,Users,Year,Month,Day,Profit,Age Group,Share_of_users
0,10000011,2016-01-07,Pink Cab,ATLANTA GA,30.45,370.95,313.635,29290,Card,Male,28,10813,814885,24701,2016,1,3,57.315,20-30,3.031
1,10000012,2016-01-05,Pink Cab,ATLANTA GA,28.62,358.52,334.854,27703,Card,Male,27,9237,814885,24701,2016,1,1,23.666,20-30,3.031
2,10000013,2016-01-01,Pink Cab,ATLANTA GA,9.04,125.20,97.632,28712,Cash,Male,53,11242,814885,24701,2016,1,4,27.568,50-60,3.031
3,10000014,2016-01-06,Pink Cab,ATLANTA GA,33.17,377.40,351.602,28020,Cash,Male,23,23327,814885,24701,2016,1,2,25.798,20-30,3.031
4,10000015,2016-01-02,Pink Cab,ATLANTA GA,8.73,114.62,97.776,27182,Card,Male,33,8536,814885,24701,2016,1,5,16.844,30-40,3.031

# <font color = #32CD32> Part 2: Data preprocessing

In [44]:
# Choose features
features = df.drop(columns=['Transaction ID', 'Date of Travel', 'Price Charged', 'Cost of Trip', 'Profit', 'Share_of_users']).columns

X_data = df[features]
y_data = df['Profit']

### <h2> <font color = #90EE90> Train and test splitting </font> </h2>

In [45]:
# Divide the data into training and test subsets
X_train, X_test, y_train, y_test = train_test_split(X_data, y_data, test_size=0.2, random_state=26)

### <h2> <font color = #90EE90> Scaling and Encoding </font> </h2>

In [49]:
# Create columns for categorical and numeric features
categorical_features = ['City', 'Payment_Mode', 'Gender', 'Company', 'Age Group']

numerical_features = ['KM Travelled', 'Customer ID', 'Age', 'Income (USD/Month)', 'Population',
                      'Users', 'Year', 'Month', 'Day']

In [50]:
# Create a preprocessor for columns
preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), numerical_features),
        ('cat', OneHotEncoder(drop='first'), categorical_features)
    ])

In [51]:
# Apply transformations to the train subset
X_train = preprocessor.fit_transform(X_train)
# Apply transformations to the test subset
X_test = preprocessor.transform(X_test)